@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&family=Poppins:wght@100;200;500&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 1px;
    background-color: rgba(34, 34, 34, 0.596);
}
:root {
    --details: #77d091;
  }

span {
    display: none;
}

body {
    background-color: rgb(245, 245, 245);

}

div.setaBaixo{
    width: 30px;
    height: 30px;
    background-image: url("/assets/setaDown.png");
    background-size: contain;
    position: absolute;
    margin-top: 45%;
    margin-left: 49.4%;
    transform: translateX(-50%);
    animation-name: setaBaixo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes setaBaixo{
    0%{
        top: 0px;
    }
    100%{
        top: 20px;
    }
  }

  div.setaCima{
    width: 30px;
    height: 30px;
    background-image: url("/assets/setaUp.png");
    background-size: contain;
    position: relative;
    left: 90vw;
    margin-top: -12%;
    transform: translateX(-50%);
    animation-name: setaBaixo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes setaBaixo{
    0%{
        top: 0px;
    }
    100%{
        top: 20px;
    }
  }